# Ignore auto generated storyLoader.js file
__stories__/story-loader.js

# Ignore misc folder
.github/
.idea/
.storybook/
.vscode/
__stories__/
coverage/
jest.config.js
lib/
node_modules/
scripts/
src/icon/
src/xml/
